html, body { 
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* Utilise toute la largeur de la fenêtre */
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    z-index: -1;  /* Met la vidéo derrière tout le contenu */
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Couvre toute la page, tout en maintenant les proportions */
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.cityTitle {
    font-size: 40px;
}

.cityTemperature {
    font-size: 20px;
}

.time {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: white;
    z-index: 10; /* Assurez-vous que le texte soit au-dessus de la vidéo */
}
