.default-bg {
    background: url('../public/videos/calm-day.mp4') no-repeat center center/cover;
  }
  
  .clear-day {
    background: url('../public/videos/calm-day.mp4') no-repeat center center/cover;
  }
  
  .clear-night {
    background: url('../public/videos/calm-day.mp4') no-repeat center center/cover;
  }
  
  .rainy-day {
    background: url('../public/videos/calm-day.mp4') no-repeat center center/cover;
  }
  
  .rainy-night {
    background: url('../public/videos/calm-day.mp4') no-repeat center center/cover;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  